---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import BannerHome from '../components/Banner-home.astro';
import Planos from '../components/Planos.astro';
import Descobre from '../components/Descobre.astro'
import Conecta from '../components/Conecta.astro'
import FaleConosco from '../components/Fale-conosco.astro'
---

<Layout title="Velonet">

    <BannerHome />

    <Planos />

    <img src="/images/banner-dgo.png" alt="">

    <Descobre />

    <Conecta />

    <img src="/images/banner-móvil.png" alt="">

    <FaleConosco />

    <footer class="bg-primary">

        <div>
            <img src="/images/Logo.svg" alt="">
        </div>
        <div></div>
        <div></div>
        <div></div>

    </footer>

</Layout>

