---
import Layout from '../layouts/Layout.astro';
import Planos from '../components/Planos-telefonia.astro';
import Descobre from '../components/Descobre.astro'
import Conecta from '../components/Conecta.astro'
import FaleConosco from '../components/Fale-conosco.astro'
---

<Layout title="Velonet - Internet móvil">

    <a href="https://wa.me/573336081044?text=%20%C2%A1Hola!%20vengo%20del%20sitio%20web" target="_blank">
        <img src="/images/banner-móvil.png" alt="Imagem de banner">
    </a>
    
    <Planos />

    <Descobre />

    <Conecta />

    <FaleConosco />

</Layout>

