---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import BannerHome from '../components/Banner-home.astro';
import PlanosInt from '../components/Planes-internet.astro';
import Descobre from '../components/Descobre.astro'
import Conecta from '../components/Conecta.astro'
import FaleConosco from '../components/Fale-conosco.astro'
import Popup from '../components/Popup.astro';
---

<Layout title="Velonet - Planes de Internet">

    <BannerHome />

    <PlanosInt />

    <a href="https://wa.me/573336081044?text=%20%C2%A1Hola!%20vengo%20del%20sitio%20web" target="_blank">
        <img src="/images/banner-dgo.png" alt="Imagem de banner">
    </a>    

    <Descobre />

    <FaleConosco />

</Layout>

