<section class="bg-[#f3f7fb] px-24 max-lg:px-10 py-20">

    <div class="flex flex-row max-lg:flex-col gap-20 items-center max-lg:justify-center">
        <div class="md:w-[55%] max-lg:w-full">
            <h2 class="text-3xl max-lg:text-2xl font-bold text-[#091A52]">Conéctate con la red que potencia tu vida</h2>
            <h3 class="text-black/80 mt-2">Descubre por qué miles de usuarios en Colombia confían en Velonet para sus necesidades de conectividad. Con opciones de planes flexibles y un servicio al cliente inigualable, estamos aquí para ofrecerte la mejor experiencia en internet.</h3>
            <div class="mt-12 flex flex-row max-lg:flex-col gap-8">
                <div class="flex flex-row gap-2 items-center md:w-[420px] max-lg:w-full">
                    <div><img class="h-24" src="/images/velocidade.svg" alt=""></div>
                    <div>
                        <h3 class="text-[#293659] font-bold text-lg">Velocidad Imbatible</h3>
                        <h4 class="text-black/80">Conéctate al instante con nuestra fibra óptica ultrarrápida.</h4>
                    </div>
                </div>
                <div class="flex flex-row gap-2 items-center md:w-[420px] max-lg:w-full">
                    <div><img class="h-24" src="/images/confiabilidade.svg" alt=""></div>
                    <div>
                        <h3 class="text-[#293659] font-bold text-lg">Confiabilidad Garantizada</h3>
                        <h4 class="text-black/80">Navega tranquilo con un servicio estable y avanzado.</h4>
                    </div>
                </div>
            </div>
            <div class="mt-12 flex flex-row max-lg:flex-col gap-8">
                <div class="flex flex-row gap-2 items-center md:w-[420px]">
                    <div><img class="h-24" src="/images/atencion.svg" alt=""></div>
                    <div>
                        <h3 class="text-[#293659] font-bold text-lg">Atención al Cliente</h3>
                        <h4 class="text-black/80">Soporte dedicado, siempre disponible para ti.</h4>
                    </div>
                </div>
                <div class="flex flex-row gap-2 items-center md:w-[420px]">
                    <div><img class="h-20" src="/images/planes.svg" alt=""></div>
                    <div>
                        <h3 class="text-[#293659] font-bold text-lg">Planes Flexibles</h3>
                        <h4 class="text-black/80">Encuentra el plan perfecto que se adapta a tu necesidad.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:w-[45%]">
            <img class="w-full rounded-2xl" src="/images/imagefamilia.png" alt="">
        </div> 
    </div>

</section>