<div class="coluna-planos mt-20 px-6 py-12">
    <h2 class="text-center text-2xl">Descubre si estás cubierto por la red más confiable de la región. ¡Es fácil y rápido!</h2>
    <div class="flex flex-row max-lg:flex-col justify-center items-center">
        <form class="justify-between flex flex-row max-lg:flex-col mt-8 gap-3" action="">
            <input type="text" placeholder="Su nombre">
            <input type="text" placeholder="Tu teléfono">
            <input type="text" placeholder="Tu dirección">
            <button class="w-64 rounded-full py-3 bg-secondary">Consulta tu cobertura aquí</button>
        </form>
    </div>
</div>