---
import Box from '../components/Box.astro';
---

<section class="px-24 py-20">

    <div data-aos="fade-right" class="flex flex-row max-lg:flex-col gap-6 items-center">
        <div class="md:w-[30%]">
            <h2 class="text-4xl font-bold text-[#091A52]">¡Descubre todo lo que Velonet hace por ti!</h2>
            <a href="https://wa.me/573336081044?text=%20%C2%A1Hola!%20vengo%20del%20sitio%20web" target="_blank" rel="noopener noreferrer"><button class="bg-gradient-to-r from-primary to-secondary py-3 w-60 rounded-full mt-8 font-bold flex flex-row items-center justify-center gap-2">Compra ahora <img class="h-6" src="/images/whatsapp.svg" alt=""></button></a>
        </div>
        <div data-aos="fade-left" class="md:w-[70%] flex flex-row max-lg:flex-col justify-between">
                <Box image='/images/homem1.png' title='Internet' subtitle='Disfruta de una conexión 100% fibra óptica.' />
                <Box image='/images/homem2.png' title='Móvil' subtitle='Mantente conectado donde quiera que estés con nuestros planes móviles.' />
                <Box image='/images/homem3.png' title='TV' subtitle='Transforma tus noches en pura diversión con los mejores canales de TV en vivo y streaming.' />
            </div>
        </div>
    </div>

</section>