<section class="px-24 py-20">
        
    <div class="shadow-2xl gap-72 rounded-2xl flex flex-row">

        <div class="md:w-[40%] my-20 ml-12">
            <h2 class="text-5xl text-black font-bold">¿Tienes <span class="text-primary">preguntas?</span></h2>
            <h3 class="text-black mt-6">¡Estamos aquí para ayudarte! Contáctanos y obtén respuestas rápidas y eficientes.</h3>
            <form id="fale" class="flex md:w-[700px] flex-col mt-6 gap-2" action="">
                <input type="text" placeholder="Su nombre:">
                <input type="text" placeholder="Tu teléfono:">
                <input type="text" placeholder="Tu dirección:">
                <input type="text" placeholder="Tu correo electrónico:">
                <button class="uppercase bg-primary py-3 rounded-sm">Envía tu consulta</button>
            </form>
            <ul class="mt-6 flex flex-row gap-8 items-center">
                <li class="flex flex-row items-center gap-2 text-black"><img class="h-6" src="/images/icon.svg" alt="">300 479 8909</li>
                <li class="flex flex-row items-center gap-2 text-black"><img class="h-6" src="/images/o-email.svg" alt="">internet@velonet.co</li>
            </ul>
        </div>
        <div class="md:w-[35%] bg-primary rounded-2xl">
            <iframe class="w-full h-full top-12 rounded-2xl" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.9727883025585!2d-75.55718402432073!3d6.267309126086016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428ea42d28169%3A0x5924975d41596bc2!2sCl.%2072%20%2344%20105%2C%20Manrique%20Central%20II%2C%20Medell%C3%ADn%2C%20Manrique%2C%20Medell%C3%ADn%2C%20Colombia!5e0!3m2!1sen!2sbr!4v1724258841795!5m2!1sen!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

</section>