<footer data-aos="fade-up" class="bg-primary gap-12 px-24 py-16 flex flex-row max-lg:flex-col max-lg:justify-center max-lg:items-center">

    <div class='md:w-[25%]'>
        <img class="h-20 hover:-translate-y-1 duration-300" src="/images/Logo.svg" alt="">
        <h2 class="mt-3">Conectando familias y negocios con lo mejor en tecnología. ¡Más cerca es mejor!</h2>
        <div class="flex flex-row mt-4 gap-4 max-lg:justify-center">
            <a href="https://www.facebook.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/instagram.svg" alt=""></a>
        </div>
    </div>
    <div class='md:w-[25%]'>
        <h3 class="text-white font-bold text-xl">Contratos</h3>
        <ul class="mt-3 flex flex-col gap-2">
            <li class="text-xs">Términos y Condiciones Planes Internet Individual Hogar</li>
            <li class="text-xs">Términos y Condiciones Planes Internet Individual Streaming</li>
            <li class="text-xs">Términos y Condiciones Plan Promo Internet 4 x 6</li>
            <li class="text-xs">Términos y Condiciones Planes Internet XL Individual Comercio</li>
            <li class="text-xs">Términos y Condiciones Planes Internet L + DGO</li>
            <li class="text-xs">Términos y Condiciones promoción Plan Referidos</li>
            <li class="text-xs">Ofertas Anteriores</li>
            
        </ul>
    </div>
    <div class='md:w-[25%]'>
        <ul class="mt-3 flex flex-col gap-2">
            <li class="text-xs">Términos y Condiciones Planes Internet L + DGO + WIN SPORT(+)</li>
            <li class="text-xs">Términos y Condiciones Planes Internet + DGO FLEX</li>
            <li class="text-xs">Términos y Condiciones Planes Internet + DGO FLEX + WIN SPORT(+)</li>
            <li class="text-xs">Términos y Condiciones Planes Internet + Hogar Seguro</li>
            <li class="text-xs">Términos y Condiciones Planes Internet XL + Comercio Seguro</li>
            <li class="text-xs">Términos y Condiciones Planes Internet + Telefonía Móvil 16GB_2024</li>
            <li class="text-xs">Términos y Condiciones Planes Internet + Telefonía Móvil 20GB_2024</li>
        </ul>
    </div>
    <div class='md:w-[25%]'>
        <h3 class="text-white font-bold text-xl">Fale conosco</h3>
        <ul class="mt-3">
            <li class="flex flex-row items-center gap-2"><img class="h-6" src="/images/icon.svg" alt="">300 479 8909</li>
            <li class="flex flex-row items-center mt-5 gap-2"><img class="h-6" src="/images/o-email.svg" alt="">internet@velonet.co</li>
        </ul>
    </div>

</footer>

<div class="bg-secondary">
    <h5 class="text-center py-3">Desenvolvido por <b>DELIPE.COM</b></h5>
</div>