<footer class="bg-primary gap-12 px-24 py-16 flex flex-row max-lg:flex-col max-lg:justify-center max-lg:items-center">

    <div class='md:w-[25%]'>
        <img class="h-20 hover:-translate-y-1 duration-300" src="/images/Logo.svg" alt="">
        <h2 class="mt-3">Conectando familias y negocios con lo mejor en tecnología. ¡Más cerca es mejor!</h2>
        <div class="flex flex-row mt-4 gap-4 max-lg:justify-center">
            <a href="https://www.facebook.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/instagram.svg" alt=""></a>
        </div>
    </div>

    <div class='md:w-[25%]'>
        <h3 class="text-white font-bold text-xl">Términos y condiciones.</h3>
        <ul class="mt-3 flex flex-col gap-2">
            <a href="/contratos/Términos y Condiciones Planes Internet  + DGO FLEX_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet  + DGO FLEX_2024</li></a>
            <a href="/contratos/Términos y Condiciones Planes Internet  + Telefonia Movil 16GB_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet  + Telefonia Movil 16GB_2024</li></a>
            <a href="/contratos/Términos y Condiciones Planes Internet en TRIO_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet en TRIO_2024</li></a>
            <a href="/contratos/Términos y Condiciones Planes Internet Individual Hogar_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet Individual Hogar_2024</li></a>
            <a href="/contratos/Términos y Condiciones Planes Internet M y L + DGO_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet M y L + DGO_2024</li></a>
            <a href="/contratos/Términos y Condiciones_Planes Internet Hogar + Cámara 24H_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones_Planes Internet Hogar + Cámara 24H_2024</li></a>
        </ul>
    </div>

    <div class='md:w-[25%]'>
        <ul class="mt-3 flex flex-col gap-2">
            <a href="/contratos/Términos y Condiciones_Planes_Internet + DGO FLEX + WIN_SPORT(+)_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones_Planes_Internet + DGO FLEX + WIN_SPORT(+)_2024</li></a>
            <a href="/contratos/Términos y Condiciones_Planes_Internet M y L + DGO + WIN_SPORT(+)_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones_Planes_Internet M y L + DGO + WIN_SPORT(+)_2024</li></a>
        </ul>
    </div>

    <div class='md:w-[25%]'>
        <ul class="mt-3">
            <li class="flex flex-row items-center gap-2"><img class="h-6" src="/images/fixo.svg" alt="">333 608 0887</li>
            <li class="flex flex-row items-center mt-5 gap-2"><img class="h-6" src="/images/icon.svg" alt="">333 608 1044</li>
            <li class="flex flex-row items-center mt-5 gap-2"><img class="h-6" src="/images/o-email.svg" alt="">internet@velonet.co</li>
        </ul>
    </div>

</footer>

<div class="bg-secondary">
    <h5 class="text-center py-3">Desarrollado por <b>DELIPE.COM</b></h5>
</div>
