<footer class="bg-primary gap-12 px-24 py-16 flex flex-row max-lg:flex-col max-lg:justify-center max-lg:items-center">

    <div class='md:w-[25%]'>
        <img class="h-20 hover:-translate-y-1 duration-300" src="/images/Logo.svg" alt="">
        <h2 class="mt-3">Conectando familias y negocios con lo mejor en tecnología. ¡Más cerca es mejor!</h2>
        <div class="flex flex-row mt-4 gap-4 max-lg:justify-center">
            <a href="https://www.facebook.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/velonet.co/" target="_blank" rel="noopener noreferrer"><img class="h-6" src="/images/instagram.svg" alt=""></a>
        </div>
    </div>

    <div class='md:w-[25%]'>
        <h3 class="text-white font-bold text-xl">Términos y condiciones.</h3>
        <ul class="mt-3 flex flex-col gap-2">
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20Individual%20Hogar_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet Individual Hogar</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20Individual%20Streaming_%202024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet Individual Streaming</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Plan%20Promo%20Internet%204%20x%206%20_%202024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Plan Promo Internet 4 x 6</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20%20+%20DGO%20FLEX_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet + DGO FLEX_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20%20+%20DGO%20FLEX_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet + DGO FLEX + WIN SPORT(+)_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20M%20y%20L%20+%20DGO_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet M y L + DGO</li></a>
        </ul>
    </div>

    <div class='md:w-[25%]'>
        <ul class="mt-3 flex flex-col gap-2">
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones_Planes_Internet%20M%20y%20L%20+%20DGO%20+%20WIN_SPORT(+)_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet M y L + DGO + WIN SPORT(+)_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20%20+%20Telefonia%20Movil%2016GB_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet + Telefonía Móvil 16GB_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20+%20Telefonia%20Movil%2020GB_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet + Telefonía Móvil 20GB_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones_Planes%20Internet%20Hogar%20+%20Camara%2024H_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet Hogar + Cámara 24H_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20XL%20Individual%20Comercio_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet XL Individual Comercio_2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones_Planes%20Internet%20XL%20+%20Comercio%20Camaras_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet XL + Comercio Cámaras_2024</li></a>
        </ul>
    </div>

    <div class='md:w-[25%]'>
        <ul class="mt-3 flex flex-col gap-2">
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Velopromo%20Internet%204%20y%208%20al%2050%20y%2012%20al%20100%20Hogar_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Velopromo Internet 4 y 8 (50%) y 12 (100%) Hogar 2024</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20condiciones%20promocion%20Plan%20Referidos_%202024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones promoción Plan Referidos</li></a>
            <a href="https://velonet.co/documentos/tyc2024/Q3/Terminos%20y%20Condiciones%20Planes%20Internet%20en%20TRIO_2024.pdf" target="_blank" rel="noopener noreferrer"><li class="text-xs">Términos y Condiciones Planes Internet en TRIO_2024</li></a>
        </ul>
        <ul class="mt-3">
            <li class="flex flex-row items-center gap-2"><img class="h-6" src="/images/fixo.svg" alt="">300 910 9110</li>
            <li class="flex flex-row items-center mt-5 gap-2"><img class="h-6" src="/images/icon.svg" alt="">300 479 8909</li>
            <li class="flex flex-row items-center mt-5 gap-2"><img class="h-6" src="/images/o-email.svg" alt="">internet@velonet.co</li>
        </ul>
    </div>

</footer>

<div class="bg-secondary">
    <h5 class="text-center py-3">Desarrollado por <b>DELIPE.COM</b></h5>
</div>
