---
import PriceTable from './Price-table-servicos.astro';
import Area from '../components/CovereageArea.astro'
import DuoPlano800 from './planos/duo/plano800.astro'
import DuoPlano500Mov from './planos/duo/plano500-mov.astro'
import DuoPlano500Cam from './planos/duo/plano500-cam.astro'
---

<section class="bg-roxo px-24 max-lg:px-10 py-20">

    <div class="flex flex-row max-lg:flex-col gap-12">
        <div class="md:w-[30%]">
            <img src="/images/favicon.svg" alt="">
            <h1 class="text-secondary text-base font-bold mt-2">Nuestros planes</h1>
            <h2 class="text-white text-2xl mt-2">Conéctate con la mejor red de Fibra Óptica  ¡Velonet te ofrece la velocidad y estabilidad que necesitas!</h2>
            <a href="/planes-de-internet"><span class="flex flex-row items-center gap-2 font-light mt-6 cursor-pointer hover:translate-x-1 duration-300"><img class="h-8" src="/images/right.svg" alt="">Ver todos los planes</span></a>
        </div>
        <div class="md:w-[70%]">
            <div class="flex flex-row max-lg:flex-col justify-between gap-8">
                <DuoPlano800 />
                <DuoPlano500Mov />
                <DuoPlano500Cam />
            </div>
        </div>
    </div>

    <div class="mt-16">
        <img src="/images/Line.png" alt="">
    </div>

    <Area />

</section>

<script is:inline>
        // Função para exibir ou ocultar todas as opções
        function showTeste() {
        const options = document.querySelectorAll('.options');
        options.forEach(option => {
            option.classList.toggle('hidden'); // Alterna entre mostrar e esconder todas as opções
        });
    }
</script>