---
import PriceTable from './Price-table.astro';
import Area from './CovereageArea.astro'
---

<section class="bg-roxo px-24 max-lg:px-10 py-20">

    <div class="flex flex-col gap-12">
        <div>
            <h1 class="text-secondary text-center text-base font-bold mt-2">Nuestros planes</h1>
            <h2 class="text-white text-3xl text-center mt-2">Conéctate con la mejor red. ¡Velonet te ofrece la velocidad y estabilidad que necesitas!</h2>
        </div>
        <div>
            <div class="flex flex-row max-lg:flex-col justify-between gap-8">
                <PriceTable />
                <PriceTable />
                <PriceTable />
                <PriceTable />
            </div>
        </div>
    </div>

    <div class="mt-16">
        <img src="/images/Line.png" alt="">
    </div>

    <Area />

</section>