---
import PriceTable from './Price-table.astro';
import Area from './CovereageArea.astro'
import TrioPlano500 from './planos/trio/plano500.astro'
import TrioPlano300 from './planos/trio/plano300.astro'
import DuoPlano800 from './planos/duo/plano800.astro'
import DuoPlano500 from './planos/duo/plano500.astro'
import DuoPlano500Mov from './planos/duo/plano500-mov.astro'
import DuoPlano500Cam from './planos/duo/plano500-cam.astro'
import IntPlano500 from './planos/internet/plano500.astro'
import IntPlano300 from './planos/internet/plano300.astro'
---

<section class="bg-roxo px-24 max-lg:px-10 py-20">
    <div class="flex flex-col gap-12">
        <div>
            <h1 class="text-secondary text-center text-2xl font-bold mt-2">Nuestros planes</h1>
            <h2 class="text-white text-3xl text-center mt-2">Conéctate con la mejor red de Fibra Óptica  ¡Velonet te ofrece la velocidad y estabilidad que necesitas!</h2>
        </div>

        <!-- Tabs navigation -->
        <div class="flex items-center md:px-20 justify-center">
            <div class="bg-white py-4 px-20 rounded-full shadow-lg shadow-white/30">
                <div class="tabs gap-12">
                    <button class="tab-button rounded-full active" data-tab="Internet">Internet</button>
                    <button class="tab-button rounded-full" data-tab="Duo">Dúo</button>
                    <button class="tab-button rounded-full" data-tab="Trio">Trío</button>
                </div>
            </div>
        </div>

        <!-- Tab content -->
        <div id="Internet" class="tab-content active-tab">
            <div class="flex flex-row max-lg:flex-col justify-center gap-8">
                <IntPlano500 />
                <IntPlano300 />
            </div>
        </div>

        <div id="Trio" class="tab-content">
            <div class="flex flex-row max-lg:flex-col justify-center gap-8">
                <!-- Trío Content Example -->
                <TrioPlano500 />
                <TrioPlano300 />
            </div>
        </div>

        <div id="Duo" class="tab-content">
            <div class="flex flex-row max-lg:flex-col justify-center gap-8">
                <!-- Dúo Content Example -->
                <DuoPlano800 />
                <DuoPlano500 />
                <DuoPlano500Mov />
                <DuoPlano500Cam />
                
            </div>
        </div>
    </div>

    <div class="mt-16">
        <img src="/images/Line.png" alt="">
    </div>

    <Area />
</section>

<script is:inline>
document.addEventListener('DOMContentLoaded', function () {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Remove active state from all buttons and content
            tabButtons.forEach(btn => btn.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active-tab'));

            // Add active state to the clicked button and corresponding content
            button.classList.add('active');
            const tabName = button.getAttribute('data-tab');
            document.getElementById(tabName).classList.add('active-tab');
        });
    });
});

    // Função para exibir ou ocultar todas as opções
    function showTeste() {
        const options = document.querySelectorAll('.options');
        options.forEach(option => {
            option.classList.toggle('hidden'); // Alterna entre mostrar e esconder todas as opções
        });
    }
</script>

<style>
    /* Style the tab buttons */
.tabs {
    display: flex;
    justify-content: center;
}

.tab-button {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #f9a505;
    color: white;
}

/* Hide all tab content by default, only show active one */
.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}
</style>

