---
import PriceTable from './Price-table-dgo.astro';
import Carrossel from './Carrossel.astro';
---

<section class="bg-roxo px-24 max-lg:px-10 py-20">

    <div class="flex flex-col gap-12">
        <div>
            <h1 class="text-secondary text-center text-base font-bold mt-2">Elige tu plan</h1>
            <h2 class="text-white text-3xl text-center mt-2">Mucho más diversión para tu familia</h2>
        </div>
        <div>
            <div class="flex flex-row max-lg:flex-col justify-center gap-8">
                <PriceTable canales='13' text='Series, películas y documentales. + 800 títulos On Demand.' name='FLEX' image='/images/flex2.png' />
                <PriceTable canales='50' text='Series, películas y documentales. + 10.000 títulos On Demand.' name='BÁSICO' image='/images/basico2.png' />
                <PriceTable canales='89' text='Series, películas y documentales. + 10.000 títulos On Demand.' name='FULL' image='/images/full2.png' />
            </div>
        </div>
    </div>

    <div class="mt-16">
        <img src="/images/Line.png" alt="">
    </div>

    <div class="flex flex-col justify-center items-center mt-12">
        <h2 class="text-xl flex flex-row gap-2 items-center max-lg:flex-col">Pregúntanos por la promoción con Win Sports + <img class="h-12" src="/images/Logowin.png" alt=""></h2>
        <a href="https://api.whatsapp.com/send/?phone=573336081044&text=+%C2%A1Hola%21+vengo+del+sitio+web&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer"><button class="w-52 bg-secondary rounded-xl py-3 font-bold text-lg mt-4  hover:-translate-y-1 duration-300">Contáctenos</button></a>
    </div>


</section>

<!-- POPUP -->
<div id="popuptv" class="fixed animate-fade inset-0 snap-center flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
    <div class="flex justify-center items-center">
        <button id="closePopuptv" onclick="closePopuptv()" class="absolute max-lg:top-5 max-lg:right-5 top-20 right-20 text-red-500 bg-white w-12 rounded-full hover:text-gray-800 text-2xl">
            &times;
          </button>
        <img id="imagem" class="w-[60%] max-lg:w-full rounded-2xl" src= alt="">
    </div>
</div>


<script is:inline>

    const imageSrc = document.getElementById('imagem')
    const popupTv = document.getElementById('popuptv');

    function showPopuptv(image) {
        imageSrc.src = `${image}`;
        popupTv.classList.remove('hidden')
    }

    function closePopuptv() {
        popupTv.classList.add('hidden')
    }

</script>