<div id="popup" class="fixed animate-fade inset-0 snap-center flex items-center justify-center bg-black bg-opacity-50 z-50 hidden ">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-lg w-full relative overflow-y-auto max-h-screen">
    <button id="closePopup" class="absolute top-3 right-3 text-gray-600 hover:text-gray-800 text-2xl">
      &times;
    </button>
    <div class="text-center">
      <p class="bg-purple-800 text-white py-1 px-4 rounded-full inline-block text-sm font-semibold">
        Lleva DUO 
      </p>
      <div class="mt-4 text-left">
        <span class="text-purple-800 text-lg font-bold">20% DESCUENTO</span>
        <h2 class="text-5xl text-secondary font-extrabold mt-2">Internet 500 megas </h2>
        <p class="text-gray-600 mt-2 text-lg">Mensual</p>
        <p class="text-3xl font-bold mt-2 text-gray-800">$99.900</p>
        <p class="text-gray-400 text-sm line-through mt-1">luego $124.900 x mes</p>
        <p class="text-black text-sm mt-2">Y súmale otro de nuestros servicios:</p>
        <p class="text-black/70 text-sm mt-2">Televisión DGO | Movilidad 32 GB | Cámaras 24H</p>
      </div>
      
      <form class="mt-6 text-left">
        <label for="phone" class="block text-gray-700 font-medium mb-2">Ingresa tu número de celular:</label>
        <input
          type="text" 
          id="phone"
          placeholder="3XX XXX XX XX" 
          class="border text-black border-gray-300 rounded-md py-2 px-4 w-full"
        />
        <button type="button" class="bg-secondary text-white rounded-md py-3 px-4 w-full mt-4 font-semibold">
          ¡Nos comunicaremos contigo!

        </button>
      </form>
      
      <div class="mt-6 text-left">
        <p class="text-gray-800 text-sm font-medium">*Aplican términos y condiciones</p>
      </div>
      
    </div>
  </div>
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const popup = document.getElementById('popup');
    const closePopupButton = document.getElementById('closePopup');

    // Função para abrir o popup
    function openPopup() {
      popup.classList.remove('hidden');
      document.body.style.overflow = 'hidden'; // Desabilita o scroll no background
    }

    // Função para fechar o popup
    closePopupButton.addEventListener('click', function() {
      popup.classList.add('hidden');
      document.body.style.overflow = ''; // Reabilita o scroll no background
    });

    // Exibe o popup após 3 segundos
    setTimeout(openPopup, 3000);
  });
</script>
