<div id="citySelectPopup" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50 hidden animate-fadeIn">
  <div class="bg-white flex justify-center items-center flex-col p-8 rounded-lg shadow-lg max-w-md w-full">
    <img class="h-20" src="/images/logo-roxo.svg" alt="Logo">
    <h2 class="text-2xl font-semibold text-gray-900 mb-6 text-center mt-4">Selecione sua cidade</h2>
    <select id="citySelect" class="block w-full text-lg px-4 py-3 bg-primary rounded hover:cursor-pointer">
      <option value="" disabled selected>Escolha sua cidade</option>
      <option value="medellín">Medellín</option>
      <option value="bello">Bello</option>
      <option value="sabaneta">Sabaneta</option>
      <option value="la-estrella">La Estrella</option>
    </select>
    <button onclick="handleCitySelect()" class="mt-6 w-full bg-secondary text-white text-lg py-3 rounded hover:bg-primary duration-300">Confirmar</button>
  </div>
</div>

<script is:inline>
  // Função para abrir o popup
  function openCitySelectPopup() {
    document.getElementById('citySelectPopup').classList.remove('hidden');
  }

  // Função para redirecionar o usuário após selecionar a cidade
  function handleCitySelect() {
    const city = document.getElementById('citySelect').value;
    if (city) {
      // Redireciona para a URL da cidade selecionada
      window.location.href = `/ciudades/${city}`;
    } else {
      alert('Por favor, selecione uma cidade.');
    }
  }

  // Exemplo: Abrir o popup assim que a página carrega
  window.onload = function() {
    if (window.location.pathname === '/') {
      openCitySelectPopup();
    }
  };
</script>
