<div class="coluna-planos group hover:-translate-y-1 duration-300 w-72 px-6 py-12 flex flex-col items-center relative">
    <div class="mb-8 bg-secondary px-4 py-2 rounded-full font-bold">
        <span>PROMO 32 GIGAS DE DATOS.</span>
    </div>
    <div class="flex flex-row items-center gap-2">
        <div class="flex flex-row"><p class="text-3xl"><s>16</s></p><h3 class="text-6xl font-bold">32</h3></div>
        <div class="flex flex-col">
            <span class="text-white">GIGAS</span>
            <span class="text-secondary text-xs">DE DATOS</span>
        </div>
    </div>
    <div class="flex flex-row gap-2 mt-6 ml-6 items-center">
        <img class="h-6" src="/images/mais.svg" alt="">
        <span class="text-sm">Minutos y SMS ilimitados a todo destino nacional.</span>
    </div>
    <!-- <div class="mt-6 flex flex-col justify-center items-center">
        <span class="text-center text-base font-light">POR APENAS:</span>
        <div class="flex flex-row mt-2 justify-center items-center gap-2">
            <div><h3 class="text-6xl font-bold"><span class="text-secondary font-normal text-base">$</span>99</h3></div>
            <div class="flex flex-col">
                <span class="text-white">.900</span>
                <span class="text-secondary text-xs">MENSUAL</span>
            </div>
        </div>
    </div> -->
    <a href="https://wa.me/573336081044?text=%20%C2%A1Hola!%20vengo%20del%20sitio%20web" target="_blank" rel="noopener noreferrer"><button class="sign-up-btn w-full rounded-full font-bold mt-6 bg-gradient-to-r from-secondary to-primary text-white py-2 px-8 uppercase">Compra ahora</button></a>
    <p class="text-sm text-white/50 font-light mt-6 text-center">*Chat de WhatsApp y Chat de Facebook, msn solo en texto no consume de tus datos.</p>
    <p class="text-sm text-white/50 font-light mt-6 text-center">*Aplican términos y condiciones</p>
</div>


