<!-- PLANO 300 - INTERNET -->
<div class="coluna-planos group hover:-translate-y-1 duration-300 w-72 px-6 py-12 flex flex-col items-center relative">
    <!-- Informações principais do plano -->
    <div class="flex flex-row items-center gap-2">
        <div><h3 class="text-6xl font-bold">300</h3></div>
        <div class="flex flex-col">
            <span class="text-white">MEGAS</span>
            <span class="text-secondary text-xs">PARA TU HOGAR</span>
        </div>
    </div>

    <!-- Benefícios adicionais do plano -->
    <!-- <div class="flex flex-row gap-2 mt-6 items-center">
        <img class="h-6" src="/images/mais.svg" alt="" />
        <p>Internet 300 Megas</p>
    </div> -->

    <div class="mt-6 flex flex-col justify-center items-center">
        <span class="text-center text-base font-light">POR APENAS:</span>
        <div class="flex flex-row mt-2 justify-center items-center gap-2">
            <div><h3 class="text-6xl font-bold"><span class="text-secondary font-normal text-base">$</span>89</h3></div>
            <div class="flex flex-col">
                <span class="text-white">.900</span>
                <span class="text-secondary text-xs">MENSUAL</span>
            </div>
        </div>
    </div>

    <!-- Botão para Compração via WhatsApp -->
    <a href="https://wa.me/573336081044?text=%20%C2%A1Hola!%20vengo%20del%20sitio%20web" target="_blank" rel="noopener noreferrer">
        <button class="sign-up-btn w-full rounded-full font-bold mt-6 bg-gradient-to-r from-secondary to-primary flex flex-row items-center justify-center gap-2 text-white py-2 px-8 uppercase">
            Compra ahora
            <img class="h-6" src="/images/whatsapp.svg" alt="" />
        </button>
    </a>

    <!-- Botão para mostrar mais benefícios -->
    <p onclick="showTeste()" class="mt-6 cursor-pointer text-white/70">VER MÁS BENEFICIOS</p>

    <!-- Lista de benefícios detalhados com animação para aparecer/desaparecer -->
    <div class="options hidden animate-fade py-6 justify-start flex flex-col items-start">
        <p class="font-bold">Internet</p>
        <ul>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />Equipo Router
            </li>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />Reconexión gratis
            </li>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />1 traslado gratis
            </li>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />5 cambios de contraseña gratis
            </li>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />Latencia Media
            </li>
            <li class="flex flex-row gap-2 items-center text-white/80">
                <img class="h-4" src="/images/verifica.svg" alt="" />Sin Simetría
            </li>
        </ul>
    </div>

    <!-- Termos e condições -->
    <p class="text-white/70 font-light mt-8">*Aplican términos y condiciones</p>
</div>
